.App {
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 14px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul {
    padding-inline-start: 16px;
}

h3, h5 {
    margin: 0;
}

.vcard-details {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    padding-inline-start: 0;
}

.vcard-details > :not(li:last-child) {
    margin-bottom: 8px;
}

.vcard-details > li {
    margin-bottom: 8px;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:active, :visited:active {
    color: white;
}

svg {
    margin-right: 6px;
}

a.blue {
    color: #233a5f;
    text-decoration: none;
}

a.blue {
    color: #233a5f;
}

a:visited.blue {
    color: #233a5f;
}

a:active.blue, :visited:active.blue {
    color: #233a5f;
}
img{
    width: 60px;
}
li{
    margin-bottom: 6px;
}
